/* line 2, custom.scss */
html {
  position: relative;
  min-height: 100%; }

/* line 7, custom.scss */
body {
  font-family: 'Open Sans', sans-serif; }

/* line 11, custom.scss */
.navbar {
  margin-bottom: 0px; }

/* line 15, custom.scss */
.btn-default {
  background-color: #f07d00;
  color: #f8f8f8;
  border-radius: 0px;
  border: none; }

/* line 22, custom.scss */
.navbar-default {
  border-color: #f07d00; }
  /* line 26, custom.scss */
  .navbar-default .container {
    padding: 25px 15px; }
    /* line 30, custom.scss */
    .navbar-default .container .navbar-header .navbar-brand {
      padding: 0 0 0 10px;
      margin: 0 0 0 15px; }
      /* line 33, custom.scss */
      .navbar-default .container .navbar-header .navbar-brand img {
        height: 50px; }
    /* line 39, custom.scss */
    .navbar-default .container .navbar-collapse {
      border: none; }
      /* line 41, custom.scss */
      .navbar-default .container .navbar-collapse li.languages {
        text-transform: uppercase; }
    /* line 46, custom.scss */
    .navbar-default .container .navbar-nav > li > a {
      color: #f07d00; }
    /* line 54, custom.scss */
    .navbar-default .container .navbar-nav li.languages {
      display: inline-flex; }
    /* line 57, custom.scss */
    .navbar-default .container .navbar-nav li.highlight {
      font-weight: bold; }
    /* line 64, custom.scss */
    .navbar-default .container .navbar-toggle {
      border-color: transparent; }
      /* line 66, custom.scss */
      .navbar-default .container .navbar-toggle:hover, .navbar-default .container .navbar-toggle:focus {
        background-color: transparent; }
      /* line 69, custom.scss */
      .navbar-default .container .navbar-toggle .icon-bar {
        background-color: #f07d00; }

/* line 77, custom.scss */
.transparent {
  background-color: transparent; }

/* line 81, custom.scss */
ul.navbar-nav {
  float: right; }

/* line 85, custom.scss */
.header {
  background-color: #f07d00;
  color: #f8f8f8; }
  /* line 88, custom.scss */
  .header .col-sm-8 {
    padding: 25px 15px;
    text-align: justify; }
    /* line 91, custom.scss */
    .header .col-sm-8 .col-sm-4 {
      text-align: center; }
    /* line 95, custom.scss */
    .header .col-sm-8 a:link, .header .col-sm-8 a:visited, .header .col-sm-8 a:hover, .header .col-sm-8 a:active {
      color: #333333;
      text-decoration: none; }
    /* line 99, custom.scss */
    .header .col-sm-8 a[href^=tel], .header .col-sm-8 a[href^=mailto] {
      color: #333333;
      text-decoration: none; }
    /* line 103, custom.scss */
    .header .col-sm-8 a[href^=tel] {
      cursor: text; }
  /* line 109, custom.scss */
  .header h1 {
    margin-top: 10px; }

/* line 115, custom.scss */
.content {
  background-color: white; }
  /* line 118, custom.scss */
  .content .team-member {
    border: 20px solid transparent;
    text-align: center; }
    /* line 121, custom.scss */
    .content .team-member img.opacity {
      opacity: 0.2; }
  /* line 126, custom.scss */
  .content .team-name {
    text-align: center; }
  /* line 130, custom.scss */
  .content .team-mail {
    position: absolute;
    top: 46.5%;
    left: 50%;
    transform: translateX(-50%); }
    /* line 135, custom.scss */
    .content .team-mail.hidden {
      visibility: hidden; }
    /* line 138, custom.scss */
    .content .team-mail a {
      color: #f07d00; }
  /* line 143, custom.scss */
  .content .logo {
    height: 100px; }

/* line 148, custom.scss */
.home-section {
  height: 100vh;
  position: absolute;
  top: 0px;
  width: 100%;
  background: url("../assets/img/nex-background@2x.png") no-repeat top center;
  /* background:linear-gradient(to right, rgba(255, 0, 0, 0.39), rgba(234, 119, 0, 0.45)),url(../assets/img/nex-background@2x.png); */
  background-size: cover;
  background-color: grey; }
  /* line 159, custom.scss */
  .home-section .slogan {
    color: white; }
    /* line 162, custom.scss */
    .home-section .slogan h1 {
      /* font-size:50px; */ }

/* line 169, custom.scss */
.subheader {
  text-align: center; }

/* line 173, custom.scss */
footer {
  color: #f07d00;
  position: fixed;
  padding: 5px 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  border-top: 1px solid #f07d00; }
  /* line 182, custom.scss */
  footer .row {
    margin: 0px; }
    /* line 184, custom.scss */
    footer .row div:first-child {
      font-size: 12px;
      line-height: 20px; }
  /* line 189, custom.scss */
  footer a, footer a:hover, footer a:visited {
    color: #f07d00; }

/* line 194, custom.scss */
.vcenter {
  min-height: 100%;
  display: flex;
  align-items: center; }

/* line 200, custom.scss */
.valign {
  display: inline-block;
  vertical-align: middle;
  float: none; }

/* line 206, custom.scss */
.center-block {
  display: inline-block; }

/* line 210, custom.scss */
.tcenter {
  text-align: center; }

/* line 214, custom.scss */
section {
  margin-top: 100px; }
  /* line 217, custom.scss */
  section #nex-section .content {
    padding-top: 20px;
    margin-bottom: 50px; }
    /* line 220, custom.scss */
    section #nex-section .content .row {
      margin: 50px 0; }
  /* line 224, custom.scss */
  section #croquis-section .content {
    padding-top: 20px;
    margin-bottom: 50px; }
    /* line 227, custom.scss */
    section #croquis-section .content .row {
      overflow: hidden;
      margin: 50px 0; }
      /* line 232, custom.scss */
      section #croquis-section .content .row.prices .col-lg-3 {
        text-align: center; }
      /* line 235, custom.scss */
      section #croquis-section .content .row.prices p.prices_title {
        color: #f07d00;
        font-weight: bold;
        margin-bottom: 5px; }
      /* line 243, custom.scss */
      section #croquis-section .content .row .valign {
        padding: 15px; }
    /* line 249, custom.scss */
    section #croquis-section .content .features p.features_title {
      border-bottom: 1px solid #f07d00;
      font-weight: bold;
      margin-bottom: 5px; }
  /* line 257, custom.scss */
  section #nextoria-section .content {
    padding-top: 20px;
    margin-bottom: 50px; }
    /* line 260, custom.scss */
    section #nextoria-section .content .row {
      margin: 50px 0; }
    /* line 263, custom.scss */
    section #nextoria-section .content #anuarios, section #nextoria-section .content #construccion, section #nextoria-section .content #paisajismo, section #nextoria-section .content #diseno, section #nextoria-section .content #internacional, section #nextoria-section .content #culturales {
      display: none; }
    /* line 266, custom.scss */
    section #nextoria-section .content .current {
      color: #f07d00; }
    /* line 269, custom.scss */
    section #nextoria-section .content ul li {
      cursor: pointer; }
    /* line 272, custom.scss */
    section #nextoria-section .content img {
      cursor: pointer; }
  /* line 277, custom.scss */
  section #contact-section .content {
    padding-top: 20px;
    margin-bottom: 35px; }
    /* line 280, custom.scss */
    section #contact-section .content .col-sm-4 {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 50px; }
    /* line 285, custom.scss */
    section #contact-section .content #map {
      min-height: 600px; }
    /* line 288, custom.scss */
    section #contact-section .content a, section #contact-section .content p {
      color: #f07d00; }
    /* line 291, custom.scss */
    section #contact-section .content a:hover {
      color: #f07d00; }

/* line 298, custom.scss */
.right {
  text-align: right; }

/* line 302, custom.scss */
.bg-white {
  background-color: white; }

/* line 306, custom.scss */
.bg-transparent {
  background-color: transparent; }

/* line 312, custom.scss */
.contact-section .header .col-sm-8 {
  color: red; }

/* line 318, custom.scss */
div.prueba1 {
  border: 1px solid red; }

/* line 322, custom.scss */
div.prueba2 {
  border: 1px solid green; }
  /* line 325, custom.scss */
  div.prueba2 .izda {
    background-color: red;
    height: 100px; }
  /* line 329, custom.scss */
  div.prueba2 .dcha {
    background-color: grey; }

/* line 336, custom.scss */
#nextoriaModal .modal-content {
  border-radius: 2px; }
  /* line 338, custom.scss */
  #nextoriaModal .modal-content .modal-header {
    border-bottom: none; }
    /* line 340, custom.scss */
    #nextoriaModal .modal-content .modal-header .close {
      color: #f07d00;
      opacity: 1; }
  /* line 347, custom.scss */
  #nextoriaModal .modal-content .modal-body .nextoriaModal_info h2.title_text {
    color: #f07d00; }
  /* line 352, custom.scss */
  #nextoriaModal .modal-content .modal-body .go-next-xs span, #nextoriaModal .modal-content .modal-body .go-next-md span, #nextoriaModal .modal-content .modal-body .go-prev span {
    color: #f07d00;
    cursor: pointer; }
    /* line 355, custom.scss */
    #nextoriaModal .modal-content .modal-body .go-next-xs span[id='0'], #nextoriaModal .modal-content .modal-body .go-next-md span[id='0'], #nextoriaModal .modal-content .modal-body .go-prev span[id='0'] {
      float: left; }
    /* line 358, custom.scss */
    #nextoriaModal .modal-content .modal-body .go-next-xs span.disabled, #nextoriaModal .modal-content .modal-body .go-next-md span.disabled, #nextoriaModal .modal-content .modal-body .go-prev span.disabled {
      display: none;
      pointer-events: none; }
  /* line 364, custom.scss */
  #nextoriaModal .modal-content .modal-body .go-next-md span {
    float: right; }
/* line 371, custom.scss */
#nextoriaModal .nextoriaModal_info h2 {
  margin-bottom: 20px;
  text-transform: uppercase; }
/* line 375, custom.scss */
#nextoriaModal .nextoriaModal_info .edition, #nextoriaModal .nextoriaModal_info .leadership {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold; }

@media (max-width: 767px) {
  /* line 385, custom.scss */
  .navbar-collapse {
    position: relative;
    top: 25px; }

  /* line 390, custom.scss */
  .go-next-md {
    display: none; } }
@media (min-width: 768px) {
  /* line 396, custom.scss */
  .go-next-xs {
    display: none; } }

/*# sourceMappingURL=custom.css.map */
