html {
  position: relative;
  min-height: 100%; }

body {
  font-family: 'Open Sans', sans-serif; }

.navbar {
  margin-bottom: 0px; }

.navbar-default {
  border-color: #f07d00; }
  .navbar-default .container {
    padding: 25px 15px; }
    .navbar-default .container .navbar-header .navbar-brand {
      padding: 0 0 0 10px;
      margin: 0 0 0 15px; }
      .navbar-default .container .navbar-header .navbar-brand img {
        height: 50px; }
    .navbar-default .container .navbar-collapse {
      border: none; }
    .navbar-default .container .navbar-nav > li > a {
      color: #f07d00; }
    .navbar-default .container .navbar-nav li.languages {
      display: inline-flex; }
    .navbar-default .container .navbar-toggle {
      border-color: transparent; }
      .navbar-default .container .navbar-toggle:hover, .navbar-default .container .navbar-toggle:focus {
        background-color: transparent; }
      .navbar-default .container .navbar-toggle .icon-bar {
        background-color: #f07d00; }

.transparent {
  background-color: transparent; }

ul.navbar-nav {
  float: right; }

.header {
  background-color: #f07d00; }
  .header .col-sm-8 {
    padding: 25px 15px;
    text-align: justify; }
    .header .col-sm-8 .col-sm-4 {
      text-align: center; }
    .header .col-sm-8 a:link, .header .col-sm-8 a:visited, .header .col-sm-8 a:hover, .header .col-sm-8 a:active {
      color: #333333;
      text-decoration: none; }
    .header .col-sm-8 a[href^=tel], .header .col-sm-8 a[href^=mailto] {
      color: #333333;
      text-decoration: none; }
    .header .col-sm-8 a[href^=tel] {
      cursor: text; }

.content {
  background-color: white; }
  .content .team-member {
    border: 20px solid transparent; }
  .content .team-name {
    text-align: center; }
  .content .logo {
    height: 100px; }

.home-section {
  height: 100vh;
  position: absolute;
  top: 0px;
  width: 100%;
  background: url("../assets/img/nex-background@2x.png") no-repeat top center;
  /* background:linear-gradient(to right, rgba(255, 0, 0, 0.39), rgba(234, 119, 0, 0.45)),url(../assets/img/nex-background@2x.png); */
  background-size: cover;
  background-color: grey; }
  .home-section .slogan {
    color: white; }
    .home-section .slogan h1 {
      /* font-size:50px; */ }

.subheader {
  text-align: center; }

footer {
  color: #f07d00;
  position: fixed;
  padding: 5px 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  border-top: 1px solid #f07d00; }
  footer .row {
    margin: 0px; }
    footer .row div:first-child {
      font-size: 12px;
      line-height: 20px; }
  footer a {
    color: #f07d00; }

.vcenter {
  min-height: 100%;
  display: flex;
  align-items: center; }

.valign {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.center-block {
  display: inline-block; }

.tcenter {
  text-align: center; }

section {
  margin-top: 100px; }
  section #nex-section .content {
    padding-top: 20px;
    margin-bottom: 50px; }
    section #nex-section .content .row {
      margin: 50px 0; }
  section #croquis-section .content {
    padding-top: 20px;
    margin-bottom: 50px; }
    section #croquis-section .content .row {
      overflow: hidden;
      margin: 50px 0; }
      section #croquis-section .content .row.prices .col-lg-3 {
        text-align: center; }
      section #croquis-section .content .row.prices p.prices_title {
        color: #f07d00;
        font-weight: bold;
        margin-bottom: 5px; }
      section #croquis-section .content .row .valign {
        padding: 15px; }
    section #croquis-section .content .features p.features_title {
      border-bottom: 1px solid #f07d00;
      font-weight: bold;
      margin-bottom: 5px; }
  section #nextoria-section .content {
    padding-top: 20px;
    margin-bottom: 50px; }
    section #nextoria-section .content .row {
      margin: 50px 0; }
    section #nextoria-section .content .anuarios, section #nextoria-section .content .construccion, section #nextoria-section .content .paisajismo, section #nextoria-section .content .diseno, section #nextoria-section .content .internacional, section #nextoria-section .content .culturales {
      display: none; }
    section #nextoria-section .content .current {
      color: #f07d00; }
  section #contact-section #map {
    min-height: 600px; }

.right {
  text-align: right; }

.bg-white {
  background-color: white; }

.bg-transparent {
  background-color: transparent; }

.contact-section .header .col-sm-8 {
  color: red; }

@media (max-width: 767px) {
  .navbar-collapse {
    position: relative;
    top: 25px; } }
div.prueba1 {
  border: 1px solid red; }

div.prueba2 {
  border: 1px solid green; }
  div.prueba2 .izda {
    background-color: red;
    height: 100px; }
  div.prueba2 .dcha {
    background-color: grey; }
