@media (min-width: 768px) {
  /* line 3, custom.scss */
  .navbar-nav {
    float: initial; }

  /* line 6, custom.scss */
  .n {
    font-size: 200px;
    line-height: 145px; }

  /* line 10, custom.scss */
  .dp {
    font-size: 48px;
    line-height: 57px;
    padding-left: 16px; } }
@font-face {
  font-family: 'montserrat';
  src: url("../assets/fonts/Montserrat-ExtraLight.ttf"); }
/* line 22, custom.scss */
body {
  font-family: 'montserrat'; }
  /* line 24, custom.scss */
  body.background {
    background: url(../assets/img/home-bn-desenfocado.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

/* line 34, custom.scss */
.logo {
  color: #fafafa; }
  /* line 36, custom.scss */
  .logo p {
    margin: 0; }
    /* line 38, custom.scss */
    .logo p:first-child {
      font-size: 70px;
      line-height: 50px; }
    /* line 42, custom.scss */
    .logo p:last-child {
      font-size: 17px;
      padding-left: 4px;
      padding-bottom: 4px; }

/* line 50, custom.scss */
header {
  margin-bottom: 50px;
  background-color: #f07d00; }
  /* line 53, custom.scss */
  header.home {
    color: red; }

/* line 58, custom.scss */
section {
  margin-bottom: 50px; }
  /* line 60, custom.scss */
  section .separator {
    margin-top: 50px; }
  /* line 63, custom.scss */
  section .intro, section .team-images, section .call-to-action, section .footer {
    margin-top: 20px; }
  /* line 68, custom.scss */
  section .summary p {
    text-align: center; }

/* line 75, custom.scss */
header, section {
  margin-bottom: 50px; }

/* line 79, custom.scss */
nav {
  margin-bottom: 0;
  border-radius: 0;
  border-bottom: white; }
  /* line 87, custom.scss */
  nav .navbar-header .navbar-toggle span.icon-bar {
    background-color: white !important; }
  /* line 93, custom.scss */
  nav .navbar-collapse {
    text-transform: uppercase; }

/* line 98, custom.scss */
footer {
  border-top: 1px solid #f07d00; }
  /* line 100, custom.scss */
  footer .copyright {
    margin: 20px 0px 10px; }

/* line 106, custom.scss */
.team-name {
  text-align: center; }

/* line 111, custom.scss */
.team-images div {
  padding: 15px; }

/* line 116, custom.scss */
.separator {
  text-align: center;
  text-transform: uppercase; }

/* line 121, custom.scss */
.call-to-action {
  text-align: center; }

/* line 125, custom.scss */
ul.nav.navbar-nav.navbar-right a {
  color: white; }

/* line 129, custom.scss */
.center-div {
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  /* line 135, custom.scss */
  .center-div .n {
    font-size: 200px;
    line-height: 145px; }
  /* line 139, custom.scss */
  .center-div .dp {
    font-size: 48px;
    line-height: 57px;
    padding-left: 16px; }
