<div class="header">
	<div class="container">
		<h1>Contact</h1>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h2>
					<%=Nexapp.i18n.msg('contact1') %>
				</h2>
				<p>
					<a href="tel:+34915593003">tel:+34 91 559 30 03</a>
				</p>
				<p>
					<a href="tel:+34915593003">fax:+34 541 42 69</a>
				</p>
			</div>
			<div class="col-sm-4">
				<h2>
					<%=Nexapp.i18n.msg('contact2') %>
				</h2>
				<p>Romero Robledo 11</p>
				<p>28008 Madrid</p>
			</div>
			<div class="col-sm-4">
				<h2>
					<%=Nexapp.i18n.msg('contact3') %>
				</h2>
				<p>
					<a href="mailto:medianex@medianex.es">medianex@medianex.es</a>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12" id="map"></div>
		</div>
	</div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTBh474StjZRwl9TCnuvhj9KC0prkH7so&callback=initMap"></script>