<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h2><img class="img-responsive" src="assets/img/elcroquis_logo.png" alt="" /></h2>
			</div>
			<div class="col-sm-8">
				<p><%= Nexapp.i18n.msg('croquis1') %></p>
				<p><%= Nexapp.i18n.msg('croquis2') %></p>
				<p><%= Nexapp.i18n.msg('croquis3') %></p>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="container">
		<div class="row">
			<div id="fadein" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 valign">
				<img src="assets/img/189.jpg" alt="" class="img-responsive" />
			</div><!-- 
			 --><div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 valign">
					<div class="features">
						<p class="features_title"><%=Nexapp.i18n.msg('features1_title') %></p>
						<p class="features_text"><%=Nexapp.i18n.msg('features1_text') %></p>
					</div>
					<div class="features">
						<p class="features_title"><%=Nexapp.i18n.msg('features2_title') %></p>
						<p class="features_text"><%=Nexapp.i18n.msg('features2_text') %></p>
					</div>
					<div class="features">
						<p class="features_title"><%=Nexapp.i18n.msg('features3_title') %></p>
						<p class="features_text"><%=Nexapp.i18n.msg('features3_text') %></p>
					</div>
					<div class="features">
						<p class="features_title"><%=Nexapp.i18n.msg('features4_title') %></p>
						<p class="features_text"><%=Nexapp.i18n.msg('features4_text') %></p>
					</div>
					<div class="features">
						<p class="features_title"><%=Nexapp.i18n.msg('features5_title') %></p>
						<p class="features_text"><%=Nexapp.i18n.msg('features5_text1') %></p>
						<p class="features_text"><%=Nexapp.i18n.msg('features5_text2') %></p>
					</div>
					<div class="features">
						<p class="features_title"><%=Nexapp.i18n.msg('features6_title') %></p>
						<p class="features_text"><%=Nexapp.i18n.msg('features6_text1') %></p>
						<p class="features_text"><%=Nexapp.i18n.msg('features6_text2') %></p>
					</div>
			</div>
		</div>
		<div class="row subheader">
			<div class="col-lg-12">
				<h2><%=Nexapp.i18n.msg('croquisMsg1') %></h2>
			</div>
		</div>
		<div class="row prices">
			<div class="col-xs-12 col-lg-3">
				<p class="prices_title"><%=Nexapp.i18n.msg('price1_title') %></p>
				<p class="prices_text"><%=Nexapp.i18n.msg('price1_text') %></p>
			</div>
			<div class="col-xs-12 col-lg-3">
				<p class="prices_title"><%=Nexapp.i18n.msg('price2_title') %></p>
				<p class="prices_text"><%=Nexapp.i18n.msg('price2_text') %></p>
			</div>
			<div class="col-xs-12 col-lg-3">
				<p class="prices_title"><%=Nexapp.i18n.msg('price3_title') %></p>
				<p class="prices_text"><%=Nexapp.i18n.msg('price3_text') %></p>
			</div>
			<div class="col-xs-12 col-lg-3">
				<p class="prices_title"><%=Nexapp.i18n.msg('price4_title') %></p>
				<p class="prices_text"><%=Nexapp.i18n.msg('price4_text') %></p>
			</div>
			<div class="col-xs-12 col-lg-3">
				<p class="prices_title"><%=Nexapp.i18n.msg('price5_title') %></p>
				<p class="prices_text"><%=Nexapp.i18n.msg('price5_text') %></p>
			</div>
			<div class="col-xs-12 col-lg-3">
				<p class="prices_title"><%=Nexapp.i18n.msg('price6_title') %></p>
				<p class="prices_text"><%=Nexapp.i18n.msg('price6_text') %></p>
			</div>
			<div class="col-xs-12 col-lg-3">
				<p class="prices_title"><%=Nexapp.i18n.msg('price7_title') %></p>
				<p class="prices_text"><%=Nexapp.i18n.msg('price7_text') %></p>
			</div>
			<div class="col-xs-12 col-lg-3">
				<p class="prices_title"><%=Nexapp.i18n.msg('price8_title') %></p>
				<p class="prices_text"><%=Nexapp.i18n.msg('price8_text') %></p>
			</div>
		</div>
		<div class="row subheader">
			<div class="col-lg-12">
				<h2><%=Nexapp.i18n.msg('croquisMsg2') %></h2>
			</div>
		</div>
		<div class="row subheader">
			<div class="col-lg-12">
				<a class="btn btn-default" href="https://elcroquis.es/" target="_blank" role="button"><%=Nexapp.i18n.msg('croquisMsg3') %></a>
			</div>
		</div>
	</div>
</div>