<div class="home-section vcenter">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div class="slogan">
					<h1>Your product is great, but your visual identity isn’t. We can help.</h1>
					<p>We analyze your business to help build a complementary visual identity. This helps convert leads into paying customers 
					and speed up growth through the power of design.</p>
				</div>
			</div>
		</div>
	</div>
</div>