<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
			data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
			<span class="icon-bar"></span> <span class="icon-bar"></span>
		</button>
			<a class="navbar-brand" href="#">
				<img class="img-responsive" src="assets/img/nex-logo-big.svg" alt="" />
			</a>
	</div>
	<div id="navbar" class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li><a href="#Home">home</a></li>
			<li><a href="#Nex">nex</a></li>
			<li><a href="#Croquis">el croquis</a></li>
			<li><a href="#Nextoria">nextoria</a></li>
			<li><a href="#News">nexnews</a></li>
			<li><a href="#Contact">contactanex</a></li>
			<li class="languages">
				<a href="#" class="lang" data-language="es">es</a>
				<a href="#" class="lang" data-language="en">en</a>
			</li>
		</ul>
	</div>
</div>