<div class="header">
	<div class="container">
		<h1>Nextoria</h1>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="row subheader">
			<div class="col-sm-12 tcenter">
				<ul class="list-inline">
					<li data-tipo="arquitectura" class="current"><%= Nexapp.i18n.msg('nextoria_arquitectura') %></li>
					<li data-tipo="anuarios"><%= Nexapp.i18n.msg('nextoria_anuarios') %></li>
					<li data-tipo="construccion"><%= Nexapp.i18n.msg('nextoria_construccion') %></li>
					<li data-tipo="paisajismo"><%= Nexapp.i18n.msg('nextoria_paisajismo') %></li>
					<li data-tipo="diseno"><%= Nexapp.i18n.msg('nextoria_diseno') %></li>
					<li data-tipo="internacional"><%= Nexapp.i18n.msg('nextoria_internacional') %></li>
					<li data-tipo="culturales"><%= Nexapp.i18n.msg('nextoria_culturales') %></li>
				</ul>
			</div>
		</div>
		<div id="arquitectura" class="row">
			<div class="col-xs-6 col-sm-4">
				<img id="1" src="assets/img/GRID_COAM_1.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="2" src="assets/img/GRID_COAM_2.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="3" src="assets/img/GRID_COAM_3.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="4" src="assets/img/arquitectura/GRID_COAM_URBANISMO.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="5" src="assets/img/arquitectura/GRID_QUADERNS_1.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="6" src="assets/img/arquitectura/GRID_QUADERNS_2.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="7" src="assets/img/arquitectura/GRID_QUADERNS_3.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="8" src="assets/img/arquitectura/GRID_QUADERNS_4.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="9" src="assets/img/arquitectura/GRID_CSAE_1.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="10" src="assets/img/arquitectura/GRID_CSAE_2.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="11" src="assets/img/arquitectura/GRID_Tecnologia y Arquitectura.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="12" src="assets/img/arquitectura/GRID_A+T.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="13" src="assets/img/arquitectura/GRID_COMPOSICION_ARQUITECTONICA.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="14" src="assets/img/arquitectura/GRID_ARS_SACRA.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="15" src="assets/img/arquitectura/GRID_BASA.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="16" src="assets/img/arquitectura/GRID_BAU.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="17" src="assets/img/arquitectura/GRID_GEOMETRIA.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="18" src="assets/img/arquitectura/GRID_LOGIA.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="19" src="assets/img/arquitectura/GRID_PERIFERIA.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="20" src="assets/img/arquitectura/GRID_PROUN.jpg" alt="" class="img-responsive " />
			</div>
		</div>
		<div id="anuarios" class="row">
			<div class="col-xs-6 col-sm-4">
				<img id="21" src="assets/img/anuarios/FULL_GRID_CSAE_ANUARIO_2.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="22" src="assets/img/anuarios/FULL_GRID_CSAE_ANUARIO_1.jpg" alt="" class="img-responsive " />
			</div>
		</div>
		<div id="construccion" class="row">
			<div class="col-xs-6 col-sm-4">
				<img id="23" src="assets/img/construccion/GRID_CAU.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="24" src="assets/img/construccion/GRID_CERCHA.jpg" alt="" class="img-responsive " />
			</div>
		</div>
		<div id="paisajismo" class="row">
			<div class="col-xs-6 col-sm-4">
				<img id="25" src="assets/img/paisajismo/GRID_PAISEA.jpg" alt="" class="img-responsive " />
			</div>
		</div>
		<div id="diseno" class="row">
			<div class="col-xs-6 col-sm-4">
				<img id="26" src="assets/img/diseño/GRID_DEDISENO.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="27" src="assets/img/diseño/GRID_ARDI.jpg" alt="" class="img-responsive " />
			</div>
		</div>
		<div id="internacional" class="row">
			<div class="col-xs-6 col-sm-4">
				<img id="28" src="assets/img/internacional/GRID_COMPASSES.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="29" src="assets/img/internacional/GRID_BUILD.jpg" alt="" class="img-responsive " />
			</div>
		</div>
		<div id="culturales" class="row">
			<div class="col-xs-6 col-sm-4">
				<img id="30" src="assets/img/culturales/GRID_DEUSTO.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="31" src="assets/img/culturales/GRID_IMPAR.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="32" src="assets/img/culturales/GRID_LIQUIDOCS.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="33" src="assets/img/culturales/GRID_NH.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="34" src="assets/img/culturales/GRID_LIFESTYLE_M.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="35" src="assets/img/culturales/GRID_LIFESTYLE_B.jpg" alt="" class="img-responsive " />
			</div>
		</div>
	</div>
</div>
<div id="nextoriaModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="row modal-body">
				<div class="nextoriaModal_img col-xs-12 col-md-7 valign">
					<img src="" alt="" class="img-responsive " />
				</div><!-- 
				--><div class="nextoriaModal_info col-xs-12 col-md-5 valign">
					<div>
						<h2 class="title_text"></h2>
					</div>
					<div>
						<p class="edition"><%=Nexapp.i18n.msg('nextoria_edition') %></p>
						<p class="edition_text"></p>
					</div>
					<div>
						<p class="leadership"><%=Nexapp.i18n.msg('nextoria_leadership') %></p>
						<p class="leadership_text"></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<span id="0" class="glyphicon glyphicon-menu-left"></span>
				<span id="1" class="glyphicon glyphicon-menu-right"></span>
			</div>
		</div>
	</div>
</div>