<div class="header">
	<div class="container">
		<h1>Nextoria</h1>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="row subheader">
			<div class="col-sm-12 tcenter">
				<ul class="list-inline">
					<li data-tipo="arquitectura" class="current">arquitectura</li>
					<li data-tipo=anuarios>anuarios</li>
					<li data-tipo="construccion">construccion</li>
					<li data-tipo="paisajismo">paisajismo</li>
					<li data-tipo="diseno">diseño</li>
					<li data-tipo="internacional">internacional</li>
					<li data-tipo="culturales">culturales</li>
				</ul>
			</div>
		</div>
		<div class="row arquitectura">
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/GRID_COAM_1.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/GRID_COAM_2.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/GRID_COAM_3.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/arquitectura/GRID_COAM_URBANISMO.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/arquitectura/GRID_QUADERNS_1.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/arquitectura/GRID_QUADERNS_2.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/arquitectura/GRID_QUADERNS_3.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/arquitectura/GRID_QUADERNS_4.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/arquitectura/GRID_CSAE_1.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/arquitectura/GRID_CSAE_2.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/arquitectura/GRID_Tecnologia y Arquitectura.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/arquitectura/GRID_A+T.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/arquitectura/GRID_COMPOSICION_ARQUITECTONICA.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/arquitectura/GRID_ARS_SACRA.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/arquitectura/GRID_BASA.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/arquitectura/GRID_BAU.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/arquitectura/GRID_GEOMETRIA.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/arquitectura/GRID_LOGIA.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/arquitectura/GRID_PERIFERIA.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/arquitectura/GRID_PROUN.jpg" alt="" class="img-responsive " />
			</div>
		</div>
		<div class="row anuarios">
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/anuarios/FULL_GRID_CSAE_ANUARIO_1.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/anuarios/FULL_GRID_CSAE_ANUARIO_2.jpg" alt="" class="img-responsive " />
			</div>
		</div>
		<div class="row construccion">
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/construccion/GRID_CAU.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/construccion/GRID_CERCHA.jpg" alt="" class="img-responsive " />
			</div>
		</div>
		<div class="row paisajismo">
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/paisajismo/GRID_PAISEA.jpg" alt="" class="img-responsive " />
			</div>
		</div>
		<div class="row diseno">
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/diseño/GRID_ARDI.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/diseño/GRID_DEDISENO.jpg" alt="" class="img-responsive " />
			</div>
		</div>
		<div class="row internacional">
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/internacional/GRID_BUILD.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/internacional/GRID_COMPASSES.jpg" alt="" class="img-responsive " />
			</div>
		</div>
		<div class="row culturales">
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/culturales/GRID_DEUSTO.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/culturales/GRID_IMPAR.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/culturales/GRID_LIFESTYLE_B.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/culturales/GRID_LIFESTYLE_M.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/culturales/GRID_LIQUIDOCS.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/culturales/GRID_NH.jpg" alt="" class="img-responsive " />
			</div>
		</div>
	</div>
	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
</div>
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Arquitectura</h4>
			</div>
			<div class="modal-body">
				<div class="">
					<img src="/assets/img/internacional/GRID_BUILD.jpg" alt="" class="img-responsive " />
				</div>
				<div class="">
					<div class="features">
						<p class="features_title">
							Edicion
						</p>
						<p class="features_text">
							Colegio Oficial de Arquitectos de Madrid COAM
						</p>
					</div>
					<div class="features">
						<p class="features_title">
							Dirección:
						</p>
						<p class="features_text">
							Jerónimo Junquera / Estanislao Pérez Pita
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>