<div class="header">
	<div class="container">
		<h1>Nextoria</h1>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="row subheader">
			<div class="col-sm-12 tcenter">
				<ul class="list-inline">
					<li data-tipo="arquitectura" class="current">arquitectura</li>
					<li data-tipo="anuarios">anuarios</li>
					<li data-tipo="construccion">construccion</li>
					<li data-tipo="paisajismo">paisajismo</li>
					<li data-tipo="diseno">diseño</li>
					<li data-tipo="internacional">internacional</li>
					<li data-tipo="culturales">culturales</li>
				</ul>
			</div>
		</div>
		<div id="arquitectura" class="row">
			<div class="col-xs-6 col-sm-4">
				<img id="a1" src="/assets/img/GRID_COAM_1.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="a2" src="/assets/img/GRID_COAM_2.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="a3" src="/assets/img/GRID_COAM_3.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="a4" src="/assets/img/arquitectura/GRID_COAM_URBANISMO.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="a5" src="/assets/img/arquitectura/GRID_QUADERNS_1.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="a6" src="/assets/img/arquitectura/GRID_QUADERNS_2.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="a7" src="/assets/img/arquitectura/GRID_QUADERNS_3.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="a8" src="/assets/img/arquitectura/GRID_QUADERNS_4.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="a9" src="/assets/img/arquitectura/GRID_CSAE_1.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="a10" src="/assets/img/arquitectura/GRID_CSAE_2.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="a11" src="/assets/img/arquitectura/GRID_Tecnologia y Arquitectura.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="a12" src="/assets/img/arquitectura/GRID_A+T.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="a13" src="/assets/img/arquitectura/GRID_COMPOSICION_ARQUITECTONICA.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="a14" src="/assets/img/arquitectura/GRID_ARS_SACRA.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="a15" src="/assets/img/arquitectura/GRID_BASA.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="a16" src="/assets/img/arquitectura/GRID_BAU.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="a17" src="/assets/img/arquitectura/GRID_GEOMETRIA.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="a18" src="/assets/img/arquitectura/GRID_LOGIA.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="a19" src="/assets/img/arquitectura/GRID_PERIFERIA.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img id="a20" src="/assets/img/arquitectura/GRID_PROUN.jpg" alt="" class="img-responsive " />
			</div>
		</div>
		<div id="anuarios" class="row">
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/anuarios/FULL_GRID_CSAE_ANUARIO_1.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/anuarios/FULL_GRID_CSAE_ANUARIO_2.jpg" alt="" class="img-responsive " />
			</div>
		</div>
		<div id="construccion" class="row">
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/construccion/GRID_CAU.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/construccion/GRID_CERCHA.jpg" alt="" class="img-responsive " />
			</div>
		</div>
		<div id="paisajismo" class="row">
			<div class="col-xs-6 col-sm-4">
				<img id="paisea" src="/assets/img/paisajismo/GRID_PAISEA.jpg" alt="" class="img-responsive " />
			</div>
		</div>
		<div id="diseno" class="row">
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/diseño/GRID_ARDI.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/diseño/GRID_DEDISENO.jpg" alt="" class="img-responsive " />
			</div>
		</div>
		<div id="internacional" class="row">
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/internacional/GRID_BUILD.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/internacional/GRID_COMPASSES.jpg" alt="" class="img-responsive " />
			</div>
		</div>
		<div id="culturales" class="row">
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/culturales/GRID_DEUSTO.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/culturales/GRID_IMPAR.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/culturales/GRID_LIFESTYLE_B.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/culturales/GRID_LIFESTYLE_M.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/culturales/GRID_LIQUIDOCS.jpg" alt="" class="img-responsive " />
			</div>
			<div class="col-xs-6 col-sm-4">
				<img src="/assets/img/culturales/GRID_NH.jpg" alt="" class="img-responsive " />
			</div>
		</div>
	</div>
	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
</div>
<div id="nextoriaModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="row modal-body">
				<div class="nextoriaModal_img col-xs-12 col-md-7 valign">
					<img src="" alt="" class="img-responsive " />
				</div><!-- 
				--><div class="nextoriaModal_info col-xs-12 col-md-5 valign">
					<div class="">
						<p class="title"><%=Nexapp.i18n.msg('nextoria_title') %></p>
						<p class="title_text"></p>
					</div>
					<div class="">
						<p class="edition"><%=Nexapp.i18n.msg('nextoria_edition') %></p>
						<p class="edition_text"></p>
					</div>
					<div class="">
						<p class="leadership"><%=Nexapp.i18n.msg('nextoria_leadership') %></p>
						<p class="leadership_text"></p>
					</div>
				</div>
			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>